<% layout ('layout') %>


	<table class="table">
		<% var col = options.length*2 %>
		<th id="title" colspan="<%= col %>"> Plan</th>
<!-- 		<tr>
			<th colspan="2">Carrier</th>
			<td .col-md-4><img class="logo" src="images/bitel-logo.png"></td>
			<td .col-md-4><img class="logo" src="images/claro-logo.png"></td>
			<td .col-md-4><img class="logo" src="images/entel-logo.png"></td>
			<td .col-md-4><img class="logo" src="images/movistar-logo.png"></td>
		</tr> -->


		<tr>
			<th class="price" colspan="2">Price</th>
			<% var i = 0%>
			<% options.forEach(function (o){%>
			<% i++%>
			<td > <p id="price<%=i%>" class="odometer">0</p></td>
			<% }) %>
		</tr>
		<tr>
			<th class="data" colspan="2">Data</th>
			<% options.forEach(function(o){%>
			<td><%=o.data %> GB</td>
			<%});%>
			
		</tr>
		<tr>
			<th class="talk" colspan="2">Talk</th>
			<% options.forEach(function(o){%>
			<td> <%= o.talk_min%></td>
			<%});%>
			
		</tr>

		<tr>
			<th class="sms" colspan="2">SMS</th>
			<% options.forEach(function(o){%>
			<td> <%= o.sms%></td>
			<%});%>
			
		</tr>
		<tr>
			<th class="sms" colspan="2">Private Network</th>
			<% options.forEach(function(o){%>
			<td> <%= o.private_net_min%></td>
			<%});%>
			
		</tr>
		<tr>
			<th class="devices" colspan="2">Devices</th>
			
			<% options.forEach(function(o){%>
			<td> 
				<div class=".col-sm-3 .col-md-3">
				    <div class="thumbnail">
				      	<img src="http://img.bbystatic.com/BestBuy_US/images/products/1752/1752456_sc.jpg" alt="...">
				        <p><a href="#" class="btn btn-success" role="button">Button</a></p>
				    </div>
				  </div>
			</td>
			<%});%> 

		
		</tr>
	</table>
	<script>
	
	var priceArray = [];

	<% options.forEach(function(o) { %>
		priceArray.push(<%= o.monthly_price %>);
	<% }); %>

	var j = 0;
	priceArray.forEach(function(amount){
		j++;
		var price = "#price" + j;
		setTimeout(function(){
			$(price).html(amount)
		 }, 1500);
	});
	</script>


